POSTGRES_DB=together_journey
POSTGRES_USER=journey
POSTGRES_PASSWORD=change-me
AMAP_KEY=
DISCOVERY_ENABLED=false
BRAVE_SEARCH_API_KEY=
DISCOVERY_CACHE_MINUTES=60
DISCOVERY_RESULT_LIMIT=3
APP_SECURE_COOKIE=false
WEB_PORT=80
